<footer class="row">

  <div class="col-md-12">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="row">
      <div class="col-md-4">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>หากพบข้อผิดพลาดกรุณาแจ้ง <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>



      <div class="col-md-4">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
<div class="row">
    <div class="col-md-12 text-center">
        <!-- Load Facebook SDK for JavaScript -->
    	<div id="fb-root"></div>
    	<script>(function(d, s, id) {
    	  var js, fjs = d.getElementsByTagName(s)[0];
    	  if (d.getElementById(id)) return;
    	  js = d.createElement(s); js.id = id;
    	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    	  fjs.parentNode.insertBefore(js, fjs);
    	}(document, 'script', 'facebook-jssdk'));</script>

        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="สัญญาอนุญาตของครีเอทีฟคอมมอนส์" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Programmer Thailand IO Blog</span> โดย <a xmlns:cc="http://creativecommons.org/ns#" href="https://programmerthailand.com" property="cc:attributionName" rel="cc:attributionURL">Programmer Thailand</a> อนุญาตให้ใช้ได้ตาม <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">สัญญาอนุญาตของครีเอทีฟคอมมอนส์แบบ แสดงที่มา-ไม่ใช้เพื่อการค้า 4.0 International</a>.<br />อยู่บนพื้นฐานของงานที่ <a xmlns:dct="http://purl.org/dc/terms/" href="http://programmerthailand.github.io" rel="dct:source">http://programmerthailand.github.io</a>.
        <br />
        <!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
        var sc_project=10822781;
        var sc_invisible=0;
        var sc_security="46fe0850";
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <noscript><div class="statcounter"><a title="hit counter"
        href="http://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="http://c.statcounter.com/10822781/0/46fe0850/0/"
        alt="hit counter"></a></div></noscript>
        <!-- End of StatCounter Code for Default Guide -->
    </div>
</div>
